/.idea
/11.py
/127.jpg
/17(01).py
/17-(01-02).py
/28.py
/31.py
/32.py
/33.py
/364.jpg
/40.py
/664.jpg
/706.jpg
/98.jpg
/additon.py
/adi.py
/AGE.py
/air canva.py
/algoCircle.py
/animate.html
/BISECTION.py
/cal_packages.py
/check.py
/circle100.py
/circle101.py
/cmmt.py
/condition.py
/core1.py
/core2.py
/cores.py
/detail.txt
/detail1.txt
/detail10.txt
/details.txt
/dromey2.py
/employee.txt
/FALSE.py
/falseee.py
/Fixed.py
/foo.txt
/fun.py
/function.py
/function_for_string_conversion.py
/global_local.py
/hacker11.py
/hacker12.py
/hacker13.py
/hacker14.py
/hacker44.py
/hackerrank.py
/hackertestc.py
/inheritance.py
/List.py
/loop.py
/magic.py
/magicno.py
/main.py
/marks1.txt
/marks2.txt
/miniproject.py
/mini_sub.py
/modules.py
/m_cal.py
/nandu.py
/Newton.py
/ninja1.py
/ninja2.py
/packages.py
/pattern1.py
/pattern2.py
/per_com.py
/power.py
/pp.py
/practise.py
/prime.py
/project1.py
/Question1.py
/Question2.py
/Question3.py
/Question4.py
/Question5.py
/Question6.py
/Question7.py
/Questoin8.py
/results.txt
/sample_one_fact.py
/Secant.py
/snake.py
/statement.py
/string.py
/studentsfile.txt
/student_detail.py
/student_detail11.py
/tkinter.py
/ttkk.py
/tuple.py
/turtle.py
/__pycache__